NEXT_PUBLIC_SITE_URL=https://djbunduki.co.ke
WORDPRESS_API_URL=https://djbunduki.co.ke/wp-json
AUDIO_BASE_URL=https://mix.djbunduki.co.ke/uploads
DATABASE_URL=
WHATSAPP_NUMBER=254720947480
GOOGLE_ANALYTICS_ID=
